@import '../../../scss/base/base';
.RT{

    &__head{

        
    color: $logo-color;
    user-select: none; 
    outline: none;

    font-family: $font-RT;
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: 1px;
    transform: rotate(-4deg);
    position: relative;
    text-align: center;


    &::after {
        content: '';
        position: absolute;
        width: 25rem;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        height: 0.5rem;
        border-top: 1px solid $logo-color;
        border-bottom: 1px solid $logo-color;

    }

    }
}