// COLORS 
$logo-color: rgba(255, 255, 255, 0.938);
$first-color: rgba(255, 255, 255, 0.89);
$line-color: rgba(255, 255, 255, 0.089);

// FONTS

$font-logo: 'BenchNine',
sans-serif;
$font-one: 'Josefin Sans',
sans-serif;
$font-WW: 'Philosopher',
sans-serif;
$font-RT: 'Indie Flower',
cursive;


// BP POINTS 
$XL: 1200px; //<< ZMIENIC UKLAD
$L : 900px;
$M : 600px;
$S : 480px;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

a:hover,
a:link,
a:visited,
a:active{
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    // @media (min-width: $S) {
    //     font-size: 68.75%;
    // }

    // @media (min-width: $M ) {
    //     font-size: 75.0%;
    // }



}

.project-text{
    font-family: $font-one;
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.5;
    margin: 0% 10%;
}

.project-Buttons{
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
}

.btn-out{
    width: 45%;
    height: 5rem;
    display: flex;
    align-items: center;
    border-left: 1px  solid $line-color;
    border-right: 1px  solid $line-color;
    cursor: pointer;
    user-select: none; 
    @media (min-width: $XL){
        width: 20%;
        
    }
    &>p{
        width: 100%;
        text-align: center;
        font-family: $font-logo;
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-size: 2rem;
        line-height: 1.5;
        color: $first-color;
        
        @media (min-width :$XL){
            transition: 0.2s color  ease;
            &:hover{
                color: white;
            }
         }
        }

}

.project-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    @media (min-width: $L) {
        width: 80%;
    }
    @media (min-width: $XL) {
        width: 60%;
    }

}