@import '../../../scss/main.scss';

.WW{

    &__head{
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none; 
        font-family: $font-WW;
        color: $logo-color;
        font-size: 3.5rem;
        @media (max-height:500px){
            margin-bottom: 1rem;
        }   
    }

    &__icon{
        fill: white;
        height: 3.5rem;
        width: 3.5rem;
        margin-left: 0.5rem;
    }


}
