.about{
    grid-column: center-start/ center-end;
   
    background-color: rgb(0, 0, 0);
    @include text;


    @media (min-width: $XL){
        grid-column: center-start/ half;
        margin-right: 5vw;
    }

    &__text{
        text-align: justify;
    }

    &__skills{
        list-style-type: none;
        text-decoration: none;
    }
}



