.contact {
    grid-column: center-start/center-end;

    @media (min-width: $XL) {
        grid-row: 3/2;
        grid-column: half/ center-end;
        height: 70%;

    }

    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.social__top{
    display: flex;
    flex-direction: column;

}

.social__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socialElement{
    display: flex;
    flex-direction: column;
    align-items: center;

    & >svg {
        width: 3.2rem;
        height: 3.2rem;
        margin-bottom: 0.5rem;
    }

    &__icon{
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        fill: $first-color;
            
        @media (min-width :$XL){
            transition: 0.1s fill  ease;
            &:hover{
                fill: white;
            }
         }
    }

    &__text{
        
        @include text;
        letter-spacing: 1px;
    }

}

