@import '../../scss/base/base';

.icon{
    width: 3.3rem;
    height: 3.3rem;
    fill: white;
}

.contact{
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(128, 128, 128, 0.322);

    &__top{
        display: flex;
        justify-content: center;
        margin-bottom: 15vh;
    }
    &__bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    @media (min-width: $M){
        width: 80%;
    }

    @media (min-width: $L){ 
        width: 60%;
    }
    @media (min-width: $L){
        width: 50%;
    }
}

.element{
    display: flex;
    flex-direction: column;
    align-items: center;

  

    &__icon{
        
        width: 3.5rem;
        height: 3.5rem;
        fill: rgba(255, 255, 255, 0.87);
            
        // @media (min-width :$XL){
        //     transition: 0.1s fill  ease;
        //     &:hover{
        //         fill: white;
        //     }
        //  }
    }

    &__text{
        
        font-family: $font-one;
        font-size: 2rem;
        letter-spacing: 1px;
        margin-top:1rem;
    }

}

.social__top{
    display: flex;
    flex-direction: column;

}

.social__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}