@import './scss/main.scss';

.App {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    z-index: 20;
    color: white;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 100%;
    overflow: hidden;
}

header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 40;
    cursor: pointer;
    user-select: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.466) 0%, rgba(0, 0, 0, 0.116)100%);
}

.logo {
    font-family: $font-logo;
    color: $logo-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}


.heading-name {
    letter-spacing: 3px;
    font-size: 3rem;
    line-height: 1;
    margin: 0;
}

.heading-frontend {
    letter-spacing: 5px;
    font-size: 1.3rem;

}

main {
    position: relative;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.116);

  @media (max-height:500px){
      overflow: scroll;
  }
}
main::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

nav {
    display: flex;
    position: relative;
    z-index: 40;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.233) 0%, rgba(0, 0, 0, 0.116)100%);

}

.SwitchButton {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.918);
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;


    &::after {
        content: '';
        bottom: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.185);
        opacity: 0;
        transition: 1s all ease;

    }

    @media (min-width: $XL) {

        &:hover {
            &::after {
                opacity: 1;
            }
        }

        &:active {
            &::after {
                background: rgba(255, 255, 255, 0.507);
            }
        }
    }


}

.videoContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.295);
}


video {

    z-index: -2;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}